*,
*:after,
*:before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.board-grid {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: #34495e;
  color: #fff;
  border: 6px solid #2c3e50;
  border-radius: 10px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.board-container {
  display: none;
}

.none {
  display: none;
}

.item {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-1 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.block {
  display: block;
}

.options {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 20%;
  height: 30%;
  background: white;
}
