.item {
  width: 100%;
  background-color: gray;
}

.board-grid {
  display: grid;
  max-width: 400px;
  margin: 0 auto;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  gap: 10px;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
}
